<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>fishing for solitude</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    

  </head>
  <body>
  	<h1>Fishing For Solitude</h1>

  	<form action="/spots" method="POST" class="spots">
  		<input type="text" placeholder="spot" name="name">
  		<input type="text" placeholder="description" name="description">
  		<input id="fish" type="text" placeholder="species" name="species">
  		<button type="submit">Submit</button>
	</form>
	<div id='spotlist'>
		
	<% for (i=0; i<spots.length; i++) { %>
	<span> Name: <%= spots[i].name %> <br> Description: <%= spots[i].description %> <br> Species: <%= spots[i].species %> <br> 
		<button class="delete" type="button" name="button" data-id= <%= spots[i]._id %>>delete</button>
		<form action="/spots/:id" method="POST" class="species">
			
			<button class="update" type="button" name="button" data-id= <%= spots[i]._id %>>update</button><br>
	
		</form>
	</span>
	<% } %>
	</div>
  </body>
</html>